* {
	margin: 0;
	padding: 0;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
#Scan {
	position: absolute;
	top:75%;
	left:40%;
	opacity:.7;
	z-index:80;
	
}
/*-------------------------------FORM--------------------------------------------*/
#profilpic1 {
    background: url("../src/profil.jpeg") no-repeat; 
    background-size: cover;
    /*border:0.4em white solid ;*/
    border-radius: 100px;
    
    margin: 0;
    /*margin-top: -25%;*/
    padding:0%;
    position: absolute;
    top: 78%;
    left: 37%;
    width: 80px;height: 80px;
   
}
/*-------------------------------FORM--------------------------------------------*/
#fiche2 {
	width: 95%;
	margin:0 0 0 0;
	/*background:red;*/
	
}
#fiche2 input[type=password] {
	width: 70%;
    height:7%;
    border: 0px solid rgba(2,79,81,0);
    border-bottom: 2px solid  #61D6C4;
    font-size: 1.5em;
    background-color: rgba(255,255,255,0);
    background-position: 20px 20px; 
    background-repeat: no-repeat;
    margin: 10% 0 5% 0;
   /* padding: 12px 100px 2px 57px;*/
    color:black;
    transition: width 0.4s ease-in-out;
}
#fiche2 input[type=password]:focus {
	color:  white ;/*#8EFFEF;*/
    background-color: rgba(0,0,0,0);
    width: 40%;
    
}
/*avec animation*/
#fiche2 input[type=text] {
	
    width: 70px;
    border: 0px solid rgba(2,79,81,0);
    border-bottom: 2px solid #ccc;
    font-size: 1em;
    background-color: rgba(255,255,255,0);
    background-position: 20px 20px; 
    background-repeat: no-repeat;
    margin-left: 5px;
    padding: 12px 100px 2px 7px;
    color:black!important;
    
    
}

#fiche2 input[type=text]:focus {
    width: 50%;
}
#fiche2 input[type=button], #fiche2 input[type=submit], #fiche2 input[type=reset] {
	
	font-size: 1.9em;
    background-color: rgba(0,0,0,0);/*#61D6C4;*/
    text-shadow:1px 1px 2px gray;
    border: 2px solid #61D6C4;
    border-radius:25px;
    color: white;/*#61D6C4; /*#E7E7E7;*/
    padding: 2px 22px;
    text-decoration: none;
    margin:35px 25px;
    cursor: pointer;
    width:70%;
    height:7%;
    /*box-shadow: 1px 1px 1px 1px #393156 inset;*/
    z-index: 50;
    
}
#fiche2 input[type=password]:focus {
    width: 105%;
}
#fiche2 input[type=button]:hover, #fiche2 input[type=submit]:hover, #fiche2 input[type=reset]:hover {
    color:  white ;/*#8EFFEF;*/
    background-color: rgba(0,0,0,0);
    box-shadow: 5px -3px 16px 1px #99A2AB;
    text-shadow:1px 1px 1px gray;
}


/* notif CSS*/

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/*label info bulle*/
#cabinet a{
    color: white; 
    text-shadow:1px 1px 2px gray;            
}
#cabinet a:hover, #cabinet a:focus{
     background:rgba(0,0,0,.4);
     box-shadow:0 1px 0 rgba(255,255,255,.4);
}
#cabinet a span{
	 font-size: 1.4em;
	 width:150px;
     position:absolute;  
     margin-top:250px;
     margin-left: 25px;   
     color:white;
     background:rgba(50,50,50,.7);
     padding:10px; 
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);   
     transform:scale(0) rotate(-12deg);  
     transition:all .25s;      
     opacity:0;
     text-align:center;
}

#cabinet a:hover span, #cabinet a:focus span{
     transform:scale(1) rotate(0);        
      opacity:1;
}
/**/
.slider figure img { width: 20%; height: auto; float: left; }
.slider { margin: 4% 0 5% -1%; width: 100%; max-width: 1000px; overflow: hidden ;box-shadow: 1px 1px 6px rgba(102, 97, 97); }

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}
.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite;
  
}
