html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(218, 218, 218);
}

.container {
    padding: 0;
    margin: 0;
    margin-top: 2vh;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/galaxy.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

.liste1 {
    padding: 0;
    margin: 0;
    margin-bottom: 1.2vh;
    margin-left: 2vw;
    width: 96vw;
    height: 10vh;
    text-align: center;
    font-size: 1.7em;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 3px solid rgba(228, 228, 228, 0.6);
    border-bottom: 3px solid rgba(228, 228, 228, 0.6);
    cursor: pointer;
}

.liste2 {
    padding: 0;
    margin: 0;
    margin-top: 11.5vw;
    margin-bottom: 1.2vh;
    margin-left: 2vw;
    width: 96vw;
    height: 10vh;
    text-align: center;
    font-size: 1.7em;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 3px solid rgba(228, 228, 228, 0.6);
    border-bottom: 3px solid rgba(228, 228, 228, 0.6);
    cursor: pointer;
}

.panel1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 1.5vh;
    margin-bottom: 3vh;
    visibility: hidden;
}

.panel2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 1.5vh;
    margin-bottom: 3vh;
    visibility: hidden;
}

li {
    margin: 0;
    padding: 0;
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    margin-left: 3vw;
    width: 94vw;
    height: 8vh;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(58, 58, 58, 0.3);
    border-top: 3px solid rgba(163, 163, 163, 0.6);
    border-bottom: 3px solid rgba(163, 163, 163, 0.6);
}

.panel3 {
    list-style-type: none!important;
    padding: 0!important;
    margin: 0!important;
    margin-top: 1.5vh!important;
    margin-bottom: -2.8vh!important; 
    display: inline-block!important;
    visibility: visible!important;
}

.panel4 {
    list-style-type: none!important;
    padding: 0!important;
    margin: 0!important;
    margin-top: 1.5vh!important;
    margin-bottom: -2.8vh!important;
    display: inline-block!important;
    visibility: visible!important;
}