* {
	margin: 0;
	padding: 0;
}
/*-------------------------------FORM--------------------------------------------*/
#fiche {
	width: 95%;
	margin:15% 0 0 0;
	/*background:red;*/
	
}
#fiche input[type=password] {
	width: 70%;
    height:7%;
    border: 0px solid rgba(2,79,81,0);
    border-bottom: 2px solid  #61D6C4;
    font-size: 1.5em;
    background-color: rgba(255,255,255,0);
    background-position: 20px 20px; 
    background-repeat: no-repeat;
    margin: 30% 0 5% 0;
   /* padding: 12px 100px 2px 57px;*/
    color:black;
    transition: width 0.4s ease-in-out;
}
#fiche input[type=password]:focus {
	color:  white ;/*#8EFFEF;*/
    background-color: rgba(0,0,0,0);
    width: 40%;
    
}
/*avec animation*/
#fiche input[type=text] {
	
    width: 70px;
    border: 0px solid rgba(2,79,81,0);
    border-bottom: 2px solid #ccc;
    font-size: 1em;
    background-color: rgba(255,255,255,0);
    background-position: 20px 20px; 
    background-repeat: no-repeat;
    margin-left: 75px;
    padding: 12px 100px 2px 7px;
    color:#E4E4E4;
    
    
}

#fiche input[type=text]:focus {
    width: 50%;
}
#fiche input[type=button], #fiche input[type=submit], #fiche input[type=reset] {
	
	font-size: 1.9em;
    background-color: rgba(0,0,0,0);/*#61D6C4;*/
    text-shadow:1px 1px 2px gray;
    border: 2px solid #61D6C4;
    border-radius:25px;
    color: white;/*#61D6C4; /*#E7E7E7;*/
    padding: 2px 22px;
    text-decoration: none;
    margin:35px 25px;
    cursor: pointer;
    width:70%;
    height:7%;
    /*box-shadow: 1px 1px 1px 1px #393156 inset;*/
    z-index: 50;
    
}
#fiche input[type=password]:focus {
    width: 105%;
}
#fiche input[type=button]:hover, #fiche input[type=submit]:hover, #fiche input[type=reset]:hover {
    color:  white ;/*#8EFFEF;*/
    background-color: rgba(0,0,0,0);
    box-shadow: 5px -3px 16px 1px #99A2AB;
    text-shadow:1px 1px 1px gray;
}


#qrcode {
 margin: -1% 0 -1px 0px!important;
}
/* notif CSS*/

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/*@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}*/
/**/
#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
	width: 50px;
	height: 50px;
    
    float: left;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    
    background-color: #111;
    color: #fff;
}
#toast #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}
