body{
    margin-top: 20vh;
    font-size: 1.3em;
}


body .kornel:nth-child(1){
    padding-left: 30%;
    background-image: url(../icons/bulle.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-x: -38vw;
    margin-bottom: 4vh
}

body .kornel:nth-child(2){
    padding-left: 30%;
    margin-top: 8.5vh;
    background-image: url(../icons/cadenas.svg);
    background-size: 100% 100%;
    background-position-x: -38vw;
    margin-bottom: 4vh
}

body .kornel:nth-child(3){
    padding-left: 30%;
    margin-top: 8.5vh;
    background-image: url(../icons/cloche.svg);
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position-x: -23vw;
    background-position-y: 1vh;
    margin-bottom: 4vh
}

body .kornel:nth-child(4){
    padding-left: 30%;
    margin-top: 7.5vh;
    background-image: url(../icons/oeil.svg);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position-x: -13vw;
    background-position-y: 1vh;
    margin-bottom: 4vh
}

body .kornel:nth-child(5){
    padding-left: 30%;
    margin-top: 6.5vh;
    background-image: url(../icons/contraste.svg);
    background-size: 100% 100%;
    background-position-x: -38vw;
    margin-bottom: 4vh;
}

body .kornel:nth-child(6){
    padding-left: 30%;
    margin-top: 8.5vh;
    background-image: url(../icons/play.svg);
    background-size: 100% 100%;
    background-position-x: -38vw;
    margin-bottom: 4vh
}

input[type="range"]:after,
input[type="range"]:before {
    position: sticky;
    color: #aaa;
}
input[type="range"] {
    position: initial;
    width: 40%
}
/*
/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 30px;
    right: -30px;
    bottom: 0;
    background-color: grey;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 15px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    transition: .2s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}