* {
	margin: 0;
	padding: 0;
}
.container {
	position:relative;
	/*background:red;*/
	margin: 0;
	padding: 0;
	width:100vw;
	height:100vh;
}

#login2 {
	position:absolute;
	top:0%;
	left: 0%;
	/*background:blue;*/
	width:100vw;
	height:100vh;
	color:white;
	overflow:hidden;
}

#legal {
	position: absolute;
	top:95%;
	left:27%;
	
	font-size: .9em;
	font-family: sans-serif;
	font-weight: blod;
	color: rgba(250,250,250,1);
	padding-bottom: -20px;
}
#legal1 {
	position: absolute;
	padding-bottom: -20px;
	top:97%;
	left:33%;
	font-size: .9em;
	font-family: sans-serif;
	font-weight: blod;

	color: rgba(250,250,250,1);
}
#legal a , #legal1 a{
color: #566473;
	text-decoration: none;
	outline: none;
}

p h3 {
	display:inline;
}
#trendname {
	font-size: 1.7em;
	font-family: sans-serif;
	font-weight: blod;
	color: white;/*#61D6C4;*/
	position: absolute;
	top: 30%;
	left:25%;
	text-shadow:1px 1px 2px gray;
}
/* notif CSS*/

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}


/**/
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
#Scan {
	position: absolute;
	top:75%;
	left:40%;
	opacity:.7;
	z-index:80;
	
}
/*-------------------------------FORM--------------------------------------------*/

#profilpic1 {
    background: url("../src/profil.jpeg") no-repeat; 
    background-size: cover;
    /*border:0.4em white solid ;*/
    border-radius: 100px;
    
    margin: 0;
    /*margin-top: -25%;*/
    padding:0%;
    position: absolute;
    top: 78%;
    left: 37%;
    width: 80px;height: 80px;
   
}
/*-------------------------------FORM--------------------------------------------*/
#cabinet {
	margin: 0;
    padding: 0;
	position: absolute;
	left: 16%;
	top:20%;
	width: 250px;
	height: 550px;
	/*background:red;*/
}
/*label info bulle*/
#cabinet a{
    color: white; 
    text-shadow:1px 1px 2px gray;            
}

/* form id*/

#cabinet a:hover, #cabinet a:focus{
     background:rgba(0,0,0,.4);
     box-shadow:0 1px 0 rgba(255,255,255,.4);
}
#cabinet a span{
	 font-size: 1.4em;
	 width:150px;
     position:absolute;  
     margin-top:250px;
     margin-left: -250px;   
     color:white;
     background:rgba(50,50,50,.7);
     padding:10px; 
     border-radius:3px;
     box-shadow:0 0 2px rgba(0,0,0,.5);   
     transform:scale(0) rotate(-12deg);  
     transition:all .25s;      
     opacity:0;
     text-align:center;
}

#cabinet a:hover span, #cabinet a:focus span{
     transform:scale(1) rotate(0);        
      opacity:1;
}
#checkb {
	
    position: absolute;
	top: 47%;
	left: 42%;
	
}
label { 
	
    position: absolute;
	top: 47.5%;
	left: 50%;
	font-size: 1em;
}
input[type=password] {
	position: absolute;
	top: 39%;
	left: -14%;
    width: 80%;
    height:7%;
    border: 0px solid rgba(2,79,81,0);
    border-bottom: 2px solid  #61D6C4;
    font-size: 1.5em;
    background-color: rgba(255,255,255,0);
    background-position: 20px 20px; 
    background-repeat: no-repeat;
    margin-left: 25%;
   /* padding: 12px 100px 2px 57px;*/
    color:black;
    transition: width 0.4s ease-in-out;
}
input[type=password]:focus {
	color:  white ;/*#8EFFEF;*/
    background-color: rgba(0,0,0,0);
    
}

/*avec animation*/
input[type=text] {
	
    position: absolute;
	top: 30%;
	left: -14%;
    width: 80%;
    height:7%;
    border: 0px solid rgba(2,79,81,0);
    border-bottom: 2px solid  #61D6C4;
    font-size: 1.5em;
    background-color: rgba(255,255,255,0);
    background-position: 20px 20px; 
    background-repeat: no-repeat;
    margin-left: 25%;
   /* padding: 12px 100px 2px 57px;*/
    color:black;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 102%;
    color:  white ;/*#8EFFEF;*/
    background-color: rgba(0,0,0,0);
}
input[type=button], input[type=submit], input[type=reset] {
	position:absolute;
	top: 55%;
	left: -3%;
	
	border: 2px solid #61D6C4;
    border-radius:25px;
    
	background-color: rgba(0,0,0,0);/*#61D6C4;*/
	font-size: 1.9em;
   
	color: white; /*#61D6C4; /*#E7E7E7;*/
    text-shadow:1px 1px 2px gray;
    margin: 4px 20px;
    padding: 6px 22px;
    text-decoration: none;
  
    cursor: pointer;
    width:90%;
    height:7%;
   

/*    color:#ccc;
     text-shadow:0 -1px 0 black;  effet incrusté */
}
input[type=password]:focus {
    width: 105%;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	color:  white ;/*#8EFFEF;*/
    background-color: rgba(0,0,0,0);
    box-shadow: 5px -3px 16px 1px #99A2AB;
    text-shadow:1px 1px 1px gray;
}

/**/
div#slider figure img { width: 20%; height: auto; float: left; }
div#slider { margin: -35% 5% 5% 1%; width: 100%; max-width: 1000px; overflow: hidden ;box-shadow: 1px 1px 6px rgba(102, 97, 97); }

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite;
  
}

@media (orientation: portrait) {
div#slider figure img { width: -520%; height: auto; float: left; }
div#slider { margin: -35% 5% 5% 1%; width: 100%; max-width: 1000px; overflow: hidden ;box-shadow: 1px 1px 6px rgba(102, 9
}

